<tr>
    <td class="ez-table__cell ez-table__cell--has-icon">
        <svg class="ez-icon ez-icon--small">
            <use xlink:href="{{ ez_content_type_icon(content_type_identifier) }}"></use>
        </svg>
    </td>
    <td class="ez-table__cell ez-table__cell--after-icon">{{ content_name }}</td>
    <td class="ez-table__cell">{{ event_name }}</td>
    <td class="ez-table__cell">{{ language }}</td>
</tr>
